@model Student__Direcotry_Project.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sub_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
